@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Grand+Hotel&display=swap');

/* font-family: 'Catamaran', sans-serif;
font-family: 'Grand Hotel', cursive;  */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* font-family: 'Catamaran', sans-serif; */
    font-family: 'Microsoft YaHei';
    line-height: 1.5rem;
}

:root {
    --specialFont: 'Grand Hotel', cursive;
    --letterSpacing: 0.5rem;
    --mainGreen: #09c6ab;
    --mainWhite: #fff;
    --mainGrey: #9b9999;

}

/* clearfix */
.clearfix::after, 
.clearfix::before {
    content: '';
    clear: both;
    display: table;
}

/* header */
.book-container {
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('../images/main-bg.jpg') center/cover no-repeat;
    position: relative;
}

.book-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}
.booking {
    margin-top: 15rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.banner {
    margin-top: 7rem;
    margin-bottom: 3rem;
    /* margin-left: 1rem;
    margin-right: 1rem; */
}
.banner h1 {
    color: var(--mainWhite);
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 5rem;
    margin: 0;
    padding: 0;
    font-family: "Lato", Arial, Helvetica, sans-serif;

}

.book-trip {
    border-top: 0.625rem solid var(--mainGreen);
    background: var(--mainWhite);
    margin-bottom: 5rem;
    /* margin-left: 1rem;
    margin-right: 1rem; */
}
.form-wrapper {
    width: 100%;
    position: relative;
    background: var(--mainWhite);
    padding: 1.35rem;
}
.form-wrapper h3 {
    color: black;
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    
}
.form-group {
    margin-bottom: 1rem;
}
label {
    /* display: inline-block; */
    display: block;
    width: 100%;
    font-weight: normal !important;
    margin-bottom: 0.32rem;
    color: var(--mainGrey);
}
.form-control {
    display: block;
    background: transparent;
    border: 2px solid rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 300;
    height: 3rem;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}
.start-btn {
    border: 2px solid var(--mainGreen);
    /* margin-top: 0.25rem;
    margin-bottom: 0.25rem; */
    color: var(--mainWhite);
    background-color: var(--mainGreen);
    font-weight: 400;
    font-size: 1.25rem;
}

@media screen and (min-width: 992px) {
    .banner {
        float: left;
        width: 60%;
    }
    .banner h1 {
        font-size: 3.75rem;
    }
    .book-trip {
        float: left;
        width: 33.3%;
    }
    .booking {
        margin-top: 10rem;
    }
}
/* end of header */

