* {
    margin: 0;
    padding: 0;
    
}
body {
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    
}
.login-form {
    margin: 0 auto;
    align-self: center;
}
.up {
    height: 48px;
    width: 200px
}